jasypt:
  encryptor:
    bean: jasyptStringEncryptor
    password: ${JASYPT_ENCRYPTOR_PASSWORD}

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ENC(DEaqzCtrvwfmSTGS/8Voh57qwsLvltwcxRyQ4GUL9o2FrGNBBSsIWLbiJebZPRMJX+veQOhourdqSOLVMsb/MDn4nZXlbRSHdiVFqtKWKb9raZQ1ijIKovm2aO5YhaXY)
    username: ENC(nLQd5MMkjEOI1GDs6jCbrJfsMTLuydyv)
    password: ENC(mlR3k5929V4n2tj+8TWg2yCFx+qwyHGe)
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: ENC(k9JRvKt85GZzSZSHbXBXrA==)
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include:
          - info
          - health
          - prometheus

api:
  naver:
    search:
      localpath: ENC(KfaxjmTlmWftq0uisJNgU9CQ1SDvpF3bWQcAURLYpmw=)
      blogpath: ENC(GSlS/0x3C91TAgBEOuTyLCCG+XjXyjZPZ/stWvmnm0A=)
      clientID: ENC(rt5zrLvQPfnCPYra/zC/4R+b47ZTaJy84yWh5NJeajU=)
      clientSecretKey: ENC(PYFTLxiIsAm50Hte4UuNbE3Y/qhDFDu9)

cloud:
  aws:
    s3:
      store-dir: ENC(HseDdFjRi4jBbzg6LnYLfSGR0U0uKfZi)
      bucket: ENC(PnnWGaWjaH3XhXFhqFAB1w==)
      base-url: ENC(RZ4RdFw6FnCacr3umSnmu/18U8Ia252D5nn06bOxaBZ02LMSYJYJeaBpaaQAqeLWFw/9nTz9YY0=)
    credentials:
      access-key: ENC(VOhTXdORlD6rMtgeLCfXwaMeHApQ2DcWPPZ7+5TcGcQ=)
      secret-key: ENC(OXI/M8iA3aLXC9m/ZlpbRx2TCE+qvNnQ0as537IipDxPfhjewDio7yqjtOMsb5R7fEglWrr2gRg=)
    region:
      static: ENC(DuFeqGnbpXB+SLeKphzN9dAQ2St93qOA)

server:
  tomcat:
    threads:
      min-spare: 1
    max-connections: 10000